//items are rendering to the dom they are just not visible for some reason
.about {

    grid-gap: 1rem;
  display: grid;
  // grid-column: 1 / -1;
  grid-row: 5;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4) 1fr;
  justify-content: center;

  color: var(--color-primary-dark-2);
  background-image:linear-gradient(to bottom right, rgba(2, 26, 64, .8), rgba(2, 126, 161, 0.8));
-webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
grid-column: 1 / 8;
// margin: 3rem;
margin-right: 4rem;
justify-content: center;
 @media only screen and (max-width: 750px) {
      
          
            display: inline;
          padding-top: 3rem;
    }
}

.about_header {
  color: white;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  padding-bottom: 1rem;
  text-align: center;
  padding: 3% 1% 1% 1%;
   @media only screen and (max-width: 750px) {
      
          
          padding-top: 12rem;
    }
  
}
.about_info {
  grid-column: 1 / -1;
  grid-row: 3;
  justify-self: center;
  text-align: justify;
}
.header_sub {
  // grid-column: 1 / -1;
  grid-row: 4;
  color: var(color-primary-mid-2);
  justify-self: center;
  
 
}
.about_members {
  justify-items: space-around;
  display: grid;
  grid-row: 5;
  grid-template-rows:repeat(auto-fit, minmax(3rem, 25rem));
   @media only screen and (max-width: 750px) {
      
          .project_template {
            display: inline;
          }
    }
}
.about_members_img {
 padding: 1rem;
  max-width: 250px;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  border-radius: 50%;
    @media only screen and (max-width: 700px) {
     max-width: 200px; }

  
}
.about_name {
  text-decoration: underline;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  margin: 2rem;
  color: var(  --color-grey-light-2);
    @media only screen and (max-width: 700px) {
     font-size:2.2rem;
     margin: 1rem; }
}

