.contact {

}

.contact-form {
   color: var(--color-primary-mid-2);
   background-color: var(--color-primary-grey-light);
    border-radius: 2%;
  margin: 1.5rem;
  padding:.5rem;
}
.contact h4 {
  line-height: 1;
}
.contact textarea {
  border: 0;
  outline: 0;
  margin-top: 1rem;
  width: 90%;
  height: 19rem;
  background-color: transparent;
}
.contact input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  width: 90%;
  background-color: transparent;
}

.contact input[type=email]{
    border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  width: 90%;
  background-color: transparent;
}