.navigation{
  z-index: 6;
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  align-items: start;
  margin:0;
  position: fixed;
  right: 0;
  top:0;
  color: var(--color-grey-light-3);
  background-color: var(--color-primary-mid-2);
  border-radius: 3% 0% 0% 3%;
  
}

.navigation-inner{
   z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.menu{
   z-index: 2;
  display: flex;
  flex-direction: row;
  
}

.menu li{
   z-index: 2;
  list-style-type:none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:hover{
    color: var(--color-primary-light);


  }

}

.logo {
   z-index: 2;
  grid-column: 1;
  grid-row: 1;
  margin-top: -1rem;
  width: 10rem;
  position: fixed;
}

a {
   z-index: 1;
  color: inherit;
  text-decoration: none;
}

.hamburger {
   z-index: 2;
 display: none;

}

.nav_large{
   z-index: 1;
   @media only screen and (max-width: 700px) {
        display: none;
    }
}

 @media only screen and (max-width: 700px) {
         .hamburger {
            display: flex;
            flex-direction: row;
            justify-self: start;
            // padding: -5px;
         }
                          
    }

  
.dropdown_menu {
   z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  list-style-type:none;
 
}
.dropdown {
   z-index: 2;
   display: flex;
  // background-color: var(--color-primary-mid-2);
list-style-type:none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:hover{
    color: var(--color-primary-light);


  }
}

.dropdown_btn {
   z-index: 2;
  display: flex;
}


.menu_wrapper{
   z-index: 2;

background-color: var(--color-primary-mid-2);
}

.menu_wrapper_off{
   z-index: 1;
 display: flex;
  flex-direction: row;
}

