.projects {
  background-image: linear-gradient(
    rgba(2, 126, 161, 0.8),
    rgba(2, 126, 161, 0.8)
  );
  padding: 2.5rem;
  grid-column: 1 / -1;
  grid-row: 3;
}

.project {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3f1;
  grid-template-columns: 1fr 1fr;
  color: var(--color-grey-light-3);
  &_header {
    grid-row: 1;
    grid-column: 1 / -1;

    &_h1 {
      font-size: 3.5rem;
      font-weight: 750;
      text-align: center;
      //  text-decoration: underline;
    }
    &_carousel {
      grid-row: 2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 0;

      &_items {
        list-style-type: none;
        font-weight: 100;
        margin-left: 2rem;
        margin-right: 2rem;
        // text-decoration: underline;
          background-color: var(--color-primary-dark-2);

  border: none;
  border-radius: 2rem;
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 1rem;


      }
    }
  }
  &_template {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(2, 26, 64, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / -1;
  }
  &_text {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    color: var(--color-grey-light-3);
    padding: 3rem;
    &_project_name {
      grid-row: 1;
      font-size: 2.6rem;
    }
    &_subheader {
      grid-row: 2;
      font-size: 2rem;
    }
    &_description {
      grid-row: 3;
      font-size: 1.9rem;
      text-align: justify;
    }
  }
  &_image {
    grid-row: 1;
    grid-column: 2;
    width: 90%;
    padding: 5%;
  }
   @media only screen and (max-width: 750px) {
      
          .project_template {
            display: inline;
          }
          .project_header_h1{
          padding: 2rem;
          font-size: 3rem;
        }
        .project_header_carousel{
          padding: 1rem;
          font-size: 1.8rem;
        }
    }
   
  @media only screen and (min-device-width: 376px) and (max-device-width: 750px) {
      
          .project_template {
            display: inline;
          }
          .project_header_h1{
          padding: 2rem;
          font-size: 3rem;
        }
        .project_header_carousel{
          padding: 1rem;
          font-size: 1.8rem;
        }
    }
      @media only screen and (max-device-width: 375px) {
      
      .project_template {
            display: inline;
          }
        .project_header_carousel{
          padding: .5rem;
          font-size: 1.5rem;
        }
    }
      @media only screen and (min-width: 1050px) {
      
        .project_header_h1{
          font-size: 6rem;
        }
        .project_header_carousel{
          font-size: 4.5rem;
        }
        .project_text_project_name{
          font-size: 4rem;
        }
        .project_text_subheader{
          font-size: 3.5rem;
        }
        .project_text_description{
          font-size: 2.8rem;
        }
    }
}

.select{
  color:var(--color-primary-light)
}