

.video{
 
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  padding:0;
   z-index: 1;
  background-image:linear-gradient(rgba(16, 53, 83, .3), rgba(2, 126, 161, 0.3)),url(../img/landingGif.mp4);
  background-size: cover;
  background-repeat: no-repeat;
 max-width: 100%;
    @media only screen and (max-width: 500px) {
        grid-template-rows: 2fr 1fr 1fr ;
    }

  &_landing {
    z-index: 2;
  color: var(--color-grey-light-3);
  display: grid;
  grid-column: 1/-1;
 
  justify-content: center;

  font-size:8rem;
    @media only screen and (max-width: 700px) {
         font-size:4rem;
         
    }
     @media only screen and (max-width: 500px) {
        font-size: 2rem;
    }
  &_heading {
    text-shadow: 2px 2px 8px var(--color-grey-dark-1);
    z-index: 2;
    grid-row:2;
    text-align: center;
     
}
  

  &_logo{
    z-index: 2;
    grid-row: 2 / 3;
    grid-column: 5 / 7;
    width: 30rem;
   justify-self: end;
    align-self: center;
    
  }
  &_heading__sub {
    text-shadow: 2px 2px 8px var(--color-grey-dark-1);
    z-index: 2;
        align-self: start;
    grid-row: 3;
    font-size:3.5rem;
    font-weight: 200;
        @media only screen and (max-width: 700px) {     
         font-size:3rem;
    }
       @media only screen and (max-width: 500px) {
        font-size: 2rem;
    }
  }
}

}

.social_links {
  grid-row: 2;
  grid-column: 8;
  display: flex;
  flex-direction: column;
  width:4rem;
  list-style-type: none;
  
  
}
.links {
 
}

.video_landing_gif {
grid-column: 1/-1;
grid-row: 1/-1;
 
  min-width: 100%; 
  // min-height: 100%;
   z-index: 0;
       @media only screen and (max-width: 500px) {
         max-width: 100%;
          min-width: 50%; 
          min-height: 50%;
    }
    //   @media only screen and (max-width: 450px) {
    //       min-width: 30%; 
    //       min-height: 30%;
    // }
}

.video_overlay {
  max-width: 100%;
grid-row: 1/-1;
  grid-column: 1/-1;
  background-image:linear-gradient(rgba(16, 53, 83, .4), rgba(2, 126, 161, 0.4));
  z-index: 1;

}