.companies{
//  padding: 10rem;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
//  justify-items: center;
//   grid-gap: 10rem;
  & h1{
    grid-column: 1/ -1;
  }
  
}

.company_logo{
  width: 100px;
  
}

.company-headers{
  grid-column: 1/ -1;
  color: var(--color-grey-light-2)
}
