.navigation{
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  align-items: start;
  margin:0;
  position: fixed;
  right: 0;
  top:0;
  color: var(--color-grey-light-3);
  
}

.navigation-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.menu{
  display: flex;
  flex-direction: row;
  
}

.menu li{
  list-style-type:none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  &:hover{
    color: var(--color-primary-light);


  }

}

.logo {
  grid-column: 1;
  grid-row: 1;
  margin-top: -1rem;
  width: 10rem;
  position: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.hamburger {
 display: none;

}

.nav_large{
   @media only screen and (max-width: 700px) {
        display: none;
    }
}

 @media only screen and (max-width: 700px) {
         .hamburger {
            display: flex;
            flex-direction: row;
            justify-self: start;
            padding: -5px;
         }
                          
    }

  
.dropdown_menu {
    display: flex;
  flex-direction: column-reverse;
 

}
.dropdown {
   display: flex;
  // background-color: var(--color-primary-mid-2);
}

.dropdown_btn {
  display: flex;
}

.menu_wrapper{
background-color: var(--color-primary-mid-2);
}