.project{
  background-color: var( --color-grey-dark-3);
  grid-column: 1/-1;
  display: grid;
  grid-template-rows:repeat(6, 1fr);
  grid-template-columns:repeat(6, 1fr);

 

 
}

.project-img {
  width: 100%;
}
