.video{
  background-image:linear-gradient(rgba(16, 53, 83, .5), rgba(2, 126, 161, 0.5)),url(../img/temp_video.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.social_links {
  grid-row: 2;
  grid-column: 8;
  display: flex;
  flex-direction: column;
  width:4rem;
  list-style-type: none;
  font-size: 10px;
  
}
.links {
 
}

.landing {
  color: var(--color-grey-light-3);
  display: grid;
  grid-column: 1/-1;
  grid-row: 3 /6;
  justify-content: center;
  grid-template-rows:repeat(2, 1fr);
  font-size:8rem;
  &_logo{
    grid-row: 2;
    grid-column: 6;
    justify-content: center;
    
  }
  &_heading__sub{
    grid-row: 4;
    font-size:3.5rem;
    font-weight: 200;
  }
}