:root {
  --color-primary-light: rgb(33, 237, 252);
  --color-primary-mid: rgb(87, 167, 172);
  --color-primary-mid-2: rgba(2, 126, 161, 0.8);
  --color-primary-dark: rgb(33, 71, 73);
  --color-primary-dark-2:rgba(2, 26, 64, .8);
  --color-primary-grey-light: rgba(199, 237, 250, 1);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

h1, h2, h3, li {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; }

p, h4 {
  font-family: 'Roboto', sans-serif; }

.container > * {
  padding: 1.1rem;
  font-size: 2.5rem; }

.btn {
  background-color: var(--color-primary-mid-2);
  color: var(--color-grey-light-4);
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  transition: all 0.2s;
  font-family: 'Roboto', sans-serif; }
  .btn_contact:hover {
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-light)); }
  .btn_submit:hover {
    background-image: linear-gradient(to bottom right, var(--color-primary-dark), var(--color-primary-dark-2)); }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(7, [col-start] minmax(min-content, 20rem) [col-end]) minmax(6rem, 1fr) [full-end]; }

.contact {
  grid-column: 7 / full-end;
  grid-row: 6; }

.companies {
  grid-row: 6;
  grid-column: 1 / span 6;
  width: 100%;
  padding: 0;
  margin: -40;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(7, [col-start] minmax(min-content, 20rem) [col-end]) minmax(6rem, 1fr) [full-end]; }

.projects {
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(8, 1fr); }

.experiences {
  grid-column: 2/9;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  width: 100%; }

.video {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(7, minmax(1rem, 11rem));
  grid-template-columns: repeat(8, 1fr); }

.about {
  grid-column: 1 / -1;
  grid-row: 5; }

.navigation {
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  align-items: start;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  color: var(--color-grey-light-3); }

.navigation-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.menu {
  display: flex;
  flex-direction: row; }

.menu li {
  list-style-type: none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .menu li:hover {
    color: var(--color-primary-light); }

.logo {
  grid-column: 1;
  grid-row: 1;
  margin-top: -1rem;
  width: 10rem;
  position: fixed; }

a {
  color: inherit;
  text-decoration: none; }

.contact {
  color: var(--color-primary-mid-2);
  background-color: var(--color-primary-grey-light);
  border-radius: 2%;
  margin: 1.5rem; }

.contact h4 {
  line-height: 1; }

.contact textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  margin-top: 1rem;
  width: 90%;
  height: 19rem;
  background-color: transparent; }

.contact input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  width: 90%;
  background-color: transparent; }

.projects {
  background-image: linear-gradient(rgba(2, 126, 161, 0.8), rgba(2, 126, 161, 0.8)), url(../img/exitReality.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem; }

.project {
  color: var(--color-grey-light-3);
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-gap: 6rem; }
  .project_header {
    font-size: 3.5rem;
    font-weight: 750;
    margin-top: -2rem;
    grid-row: 1;
    justify-content: center;
    z-index: 5; }
  .project_carousel {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .project_carousel__items {
      font-weight: 100;
      margin-left: 1rem;
      margin-right: 1rem; }
  .project_description {
    grid-row: 3 / 13;
    background-color: rgba(2, 26, 64, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(2, 1fr); }
    .project_description__text {
      margin-left: 4%; }
      .project_description__text h3 {
        font-size: 2.6rem; }
      .project_description__text h4 {
        font-size: 1.9rem; }
      .project_description__text p {
        margin-top: 3%;
        font-size: 1.5rem;
        text-align: justify; }
    .project_description__image__item {
      margin: 8%;
      grid-column: 2;
      width: 80%; }

.project_carousel {
  display: flex; }
  .project_carousel__items {
    flex-direction: row; }

.experience {
  color: var(--color-grey-light-3);
  display: grid;
  background-color: var(--color-primary-dark-2);
  border-radius: 8%;
  justify-content: center;
  align-content: center; }
  .experience_icon {
    height: 10rem;
    width: 4rem; }

.video {
  background-image: linear-gradient(rgba(16, 53, 83, 0.5), rgba(2, 126, 161, 0.5)), url(../img/temp_video.PNG);
  background-size: cover;
  background-repeat: no-repeat; }

.social_links {
  grid-row: 2;
  grid-column: 8;
  display: flex;
  flex-direction: column;
  width: 4rem;
  list-style-type: none; }

.landing {
  color: var(--color-grey-light-3);
  display: grid;
  grid-column: 1/-1;
  grid-row: 3 /6;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  font-size: 8rem; }
  .landing_logo {
    grid-row: 2;
    grid-column: 6;
    justify-content: center; }
  .landing_heading__sub {
    grid-row: 4;
    font-size: 3.5rem;
    font-weight: 200; }

.companies {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 6rem; }
  .companies h1 {
    grid-column: 1/ -1; }

footer {
  grid-column: 1/-1; }
