:root {
  --color-primary-light: rgb(33, 237, 252);
  --color-primary-mid: rgb(87, 167, 172);
  --color-primary-mid-2: rgba(2, 126, 161, 0.8);
  --color-primary-dark: rgb(33, 71, 73);
  --color-primary-dark-2:rgba(2, 26, 64, .8);
  --color-primary-grey-light: rgba(199, 237, 250, 1);
  --color-primary-grey-mid: rgb(145, 194, 216);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

h1, h2, h3, li {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; }

p, h4, div {
  font-family: 'Roboto', sans-serif; }

.container > * {
  padding: 1.1rem;
  font-size: 2.5rem; }

.btn {
  background-color: var(--color-primary-mid-2);
  color: var(--color-grey-light-4);
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  transition: all 0.2s;
  font-family: 'Roboto', sans-serif; }
  .btn_contact:hover {
    background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-light)); }
  .btn_submit:hover {
    background-image: linear-gradient(to bottom right, var(--color-primary-dark), var(--color-primary-dark-2)); }

input[type="text"] {
  color: var(--color-primary-mid-2);
  font-size: 24px; }

input[type="email"] {
  color: var(--color-primary-mid-2);
  font-size: 24px; }

textarea {
  color: var(--color-primary-mid-2);
  font-size: 24px; }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(7, [col-start] minmax(min-content, 20rem) [col-end]) minmax(6rem, 1fr) [full-end]; }

.contact {
  grid-column: 7 / full-end;
  grid-row: 6; }
  @media only screen and (max-width: 1000px) {
    .contact {
      grid-column: 1/-1;
      grid-row: 7; } }

.companies {
  grid-row: 6;
  grid-column: 1 / span 6;
  width: 100%;
  padding: 0;
  margin: -40;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 1fr)); }
  @media only screen and (max-width: 700px) {
    .companies {
      grid-column: 1/-1; } }

.projects {
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(8, 1fr); }

.experiences {
  grid-column: 1 / -1;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 50rem));
  grid-gap: 4rem;
  width: 100%;
  justify-content: space-around; }
  @media only screen and (min-width: 800px) {
    .experiences {
      grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem)); } }

.video {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(7, minmax(1rem, 11rem));
  grid-template-columns: repeat(8, 1fr); }

.about {
  grid-gap: 1rem;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 5;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  grid-template-rows: repeat(auto-fit, minmax(3rem, 11rem));
  justify-content: center; }

.navigation {
  z-index: 2;
  grid-column: 2/-1;
  grid-row: 1;
  display: grid;
  align-items: start;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  color: var(--color-grey-light-3); }

.navigation-inner {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.menu {
  z-index: 2;
  display: flex;
  flex-direction: row; }

.menu li {
  z-index: 2;
  list-style-type: none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .menu li:hover {
    color: var(--color-primary-light); }

.logo {
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  margin-top: -1rem;
  width: 10rem;
  position: fixed; }

a {
  z-index: 1;
  color: inherit;
  text-decoration: none; }

.hamburger {
  z-index: 2;
  display: none; }

.nav_large {
  z-index: 1; }
  @media only screen and (max-width: 700px) {
    .nav_large {
      display: none; } }

@media only screen and (max-width: 700px) {
  .hamburger {
    display: flex;
    flex-direction: row;
    justify-self: start;
    padding: -5px; } }

.dropdown_menu {
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none; }

.dropdown {
  z-index: 2;
  display: flex;
  list-style-type: none;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .dropdown:hover {
    color: var(--color-primary-light); }

.dropdown_btn {
  z-index: 2;
  display: flex; }

.menu_wrapper {
  z-index: 2;
  background-color: var(--color-primary-mid-2); }

.menu_wrapper_off {
  z-index: 1;
  display: flex;
  flex-direction: row; }

.contact-form {
  color: var(--color-primary-mid-2);
  background-color: var(--color-primary-grey-light);
  border-radius: 2%;
  margin: 1.5rem;
  padding: .5rem; }

.contact h4 {
  line-height: 1; }

.contact textarea {
  border: 0;
  outline: 0;
  margin-top: 1rem;
  width: 90%;
  height: 19rem;
  background-color: transparent; }

.contact input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  width: 90%;
  background-color: transparent; }

.contact input[type=email] {
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--color-grey-dark-1);
  width: 90%;
  background-color: transparent; }

.projects {
  background-image: linear-gradient(rgba(2, 126, 161, 0.8), rgba(2, 126, 161, 0.8)), url(../img/exitReality.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem; }

.project {
  color: var(--color-grey-light-3);
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-gap: 6rem; }
  .project_header {
    font-size: 3.5rem;
    font-weight: 750;
    margin-top: -2rem;
    grid-row: 1;
    justify-content: center;
    z-index: 5; }
  .project_carousel {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .project_carousel__items {
      font-weight: 100;
      margin-left: 1rem;
      margin-right: 1rem; }
  .project_description {
    grid-row: 3 / 13;
    background-color: rgba(2, 26, 64, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(2, 1fr); }
    .project_description__text {
      margin-left: 4%; }
      .project_description__text h3 {
        font-size: 2.6rem; }
      .project_description__text h4 {
        font-size: 1.9rem; }
      .project_description__text p {
        margin-top: 3%;
        font-size: 1.5rem;
        text-align: justify; }
    .project_description__image__item {
      margin: 8%;
      grid-column: 2;
      width: 80%; }

@media only screen and (max-width: 800px) {
  .project {
    color: var(--color-grey-light-3);
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    grid-gap: 1rem; }
    .project_header {
      font-size: 3.5rem;
      font-weight: 750;
      margin-top: -2rem;
      grid-row: 1;
      justify-content: center;
      z-index: 5; }
    .project_carousel {
      grid-row: 2 / 3;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .project_carousel__items {
        font-weight: 100;
        margin-left: 1rem;
        margin-right: 1rem; }
    .project_description {
      grid-row: 3 / 13;
      background-color: rgba(2, 26, 64, 0.8);
      margin-left: 5%;
      margin-right: 5%;
      grid-template-columns: repeat(2, 1fr); }
      .project_description__text {
        grid-column: 1 / -1;
        padding-right: 3rem;
        margin-left: 4%; }
        .project_description__text h3 {
          font-size: 2.6rem; }
        .project_description__text h4 {
          font-size: 1.9rem; }
        .project_description__text p {
          margin-top: 3%;
          font-size: 1.5rem;
          text-align: justify; }
      .project_description__image__item {
        margin: 8%;
        grid-column: 1 / -1;
        width: 80%; }
  .project_carousel {
    display: flex; } }

.project_carousel {
  display: flex; }
  .project_carousel__items {
    flex-direction: row; }
  .project_carousel li:hover {
    color: var(--color-primary-light); }

.experiences {
  margin-bottom: 3rem;
  margin-top: 3rem; }

.experience {
  color: var(--color-primary-mid-2);
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-rows: fit-content(40%);
  background-color: var(--color-primary-grey-light);
  border-radius: 8%;
  padding: 1rem; }
  .experience_icon {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    fill: var(--color-primary-mid-2); }
  .experience_header {
    color: var(--color-primary-dark-2);
    font-weight: 900;
    justify-self: center;
    margin-top: 2rem;
    margin-bottom: .5rem;
    grid-column: 1 / -1;
    grid-row: 2; }
  .experience__items {
    font-size: 2rem;
    justify-self: center;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 3; }

.video {
  padding: 0;
  z-index: 1;
  background-image: linear-gradient(rgba(16, 53, 83, 0.3), rgba(2, 126, 161, 0.3)), url(../img/landingGif.mp4);
  background-size: cover;
  background-repeat: no-repeat; }
  .video_landing {
    z-index: 2;
    color: var(--color-grey-light-3);
    display: grid;
    grid-column: 1/-1;
    justify-content: center;
    font-size: 8rem; }
    .video_landing_heading {
      text-shadow: 2px 2px 8px var(--color-grey-dark-1);
      z-index: 2;
      grid-row: 2;
      text-align: center; }
      @media only screen and (max-width: 700px) {
        .video_landing_heading {
          font-size: 5rem; } }
    .video_landing_logo {
      z-index: 2;
      grid-row: 2 / 3;
      grid-column: 5 / 7;
      width: 30rem;
      justify-self: end;
      align-self: center; }
    .video_landing_heading__sub {
      text-shadow: 2px 2px 8px var(--color-grey-dark-1);
      z-index: 2;
      align-self: start;
      grid-row: 3/7;
      font-size: 3.5rem;
      font-weight: 200; }
      @media only screen and (max-width: 700px) {
        .video_landing_heading__sub {
          grid-row: 5/7;
          font-size: 3rem; } }

.social_links {
  grid-row: 2;
  grid-column: 8;
  display: flex;
  flex-direction: column;
  width: 4rem;
  list-style-type: none; }

.video_landing_gif {
  grid-column: 1/-1;
  grid-row: 1/-1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0; }

.video_overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(16, 53, 83, 0.4), rgba(2, 126, 161, 0.4));
  z-index: 1; }

.companies {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  grid-gap: 10rem; }
  .companies h1 {
    grid-column: 1/ -1; }

.company_logo {
  width: 100px; }

.company-headers {
  grid-column: 1/ -1;
  color: var(--color-grey-light-2); }

footer {
  grid-column: 1/-1; }

.about {
  color: var(--color-primary-dark-2);
  background-image: linear-gradient(to bottom right, rgba(2, 26, 64, 0.8), rgba(2, 126, 161, 0.8));
  -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  grid-column: 1 / -1;
  margin: 3rem;
  justify-content: center; }

.about_header {
  color: white;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  padding-bottom: 1rem;
  text-align: center; }

.about_info {
  grid-column: 1 / -1;
  grid-row: 3;
  justify-self: center;
  text-align: justify; }

.header_sub {
  grid-column: 1 / -1;
  grid-row: 4;
  color: var(color-primary-mid-2);
  justify-self: center; }

.about_members {
  grid-column: 1 / -1;
  display: grid;
  grid-row: 5;
  grid-template-rows: repeat(auto-fit, minmax(3rem, 25rem)); }

.about_members_img {
  max-width: 250px;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-self: center;
  border-radius: 50%; }
  @media only screen and (max-width: 700px) {
    .about_members_img {
      max-width: 200px; } }

.about_name {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  margin: 2rem; }
  @media only screen and (max-width: 700px) {
    .about_name {
      font-size: 2.2rem;
      margin: 1rem; } }
