.container {
  display: grid;
  //causing bug where elements would go behind eachother at a smaller size 
  // grid-template-rows: 8rem 80vh min-content 40vw repeat(7, min-content);  
  grid-template-columns: minmax(6rem,1fr) repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) minmax(6rem,1fr) [full-end];
 
}
.contact {
  grid-column: 7 / full-end;
  grid-row: 6;
   @media only screen and (max-width: 750px) {
      
          grid-column: 1/-1;
          grid-row: 7;
    }
}
.companies { 
  grid-row: 6;
  grid-column: 1 / span 6;
  width: 100%;
  padding:0;
  display: grid;
  @media only screen and (max-width: 700px) {
          
          grid-column: 1/-1;
          
    }
}

.experiences {
  grid-column: 1 / -1;
  grid-row: 4;
  // margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 50rem));
  grid-gap: 4rem;
  width: 100%;
//  justify-content: center;
  justify-content: space-around;
     @media only screen and (min-width: 800px) {
          grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
          
    }
 
}



.about {
  grid-gap: 1rem;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 5;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4) 1fr;
  justify-content: center;
 
}