.container {
  display: grid;
  grid-template-rows: 8rem 80vh min-content 40vw repeat(7, min-content);  
  grid-template-columns:1fr repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) 1fr [full-end];
}