.container {
  display: grid;
  //causing bug where elements would go behind eachother at a smaller size 
  // grid-template-rows: 8rem 80vh min-content 40vw repeat(7, min-content);  
  grid-template-columns: minmax(6rem,1fr) repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) minmax(6rem,1fr) [full-end];
 
}

.companies{
  grid-column: 1/-1;
  width: 100%;
  padding:0;
  margin:-40;
  display: grid;
 
  grid-template-columns: minmax(6rem,1fr) repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) minmax(6rem,1fr) [full-end];
}
.projects {
  
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-rows:repeat(12, 1fr);
  grid-template-columns:repeat(8, 1fr);

}
.experiences {
  grid-column: 2/9;
  grid-row: 4;
  // margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  width: 100%;
 
}

.video {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(7, minmax(1rem, 11rem));
  grid-template-columns:repeat(8, 1fr);
}