.container {
  display: grid;
  //causing bug where elements would go behind eachother at a smaller size 
  // grid-template-rows: 8rem 80vh min-content 40vw repeat(7, min-content);  
  grid-template-columns: minmax(6rem,1fr) repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) minmax(6rem,1fr) [full-end];
 
}
.contact {
  grid-column: 7 / full-end;
  grid-row: 6;
   @media only screen and (max-width: 1000px) {
      
          grid-column: 1/-1;
          grid-row: 7;
    }
}
.companies{
  grid-row: 6;
  grid-column: 1 / span 6;
  width: 100%;
  padding:0;
  margin:-40;
  display: grid;
 
  // grid-template-columns: minmax(6rem,1fr) repeat(7,[col-start] minmax(min-content, 20rem)[col-end]) minmax(6rem,1fr) [full-end];
  grid-template-columns: repeat(3, minmax(16rem, 1fr));

  @media only screen and (max-width: 700px) {
      
          grid-column: 1/-1;
          
    }
}
.projects {
  
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-rows:repeat(12, 1fr);
  grid-template-columns:repeat(8, 1fr);
 
}
.experiences {
  grid-column: 1 / -1;
  grid-row: 4;
  // margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 50rem));
  grid-gap: 4rem;
  width: 100%;
//  justify-content: center;
  justify-content: space-around;
 
}

.video {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(7, minmax(1rem, 11rem));
  grid-template-columns:repeat(8, 1fr);
}

.about {
  grid-gap: 1rem;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 5;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  grid-template-rows: repeat(auto-fit, minmax(3rem, 11rem));
  justify-content: center;
 
}